.Rproj.user
.Rhistory
.RData
.Ruserdata
data/ra_posts.rds
data/top_reddit_posts.csv
data/emobank_distilroberta.rds
data/ra_posts_distilroberta.rds

/.quarto/
data/city_users/city_user_comments.csv
data/city_users/city_user_threads.csv
data/city_users/city_users.csv
data/hippocorpus-u20220112/.DS_Store
data/hippocorpus-u20220112/hcV3-stories.csv
data/hippocorpus-u20220112/LinktoStudyTemplates.txt
data/hippocorpus-u20220112/V3README.txt
data/text_emotion.csv
assignments/assignment_chapt7-10_files/libs/quarto-html/tippy.umd.min.js
assignments/assignment_chapt7-10_files/libs/quarto-html/tippy.css
assignments/assignment_chapt7-10_files/libs/quarto-html/quarto.js
assignments/assignment_chapt7-10_files/libs/quarto-html/quarto-syntax-highlighting.css
assignments/assignment_chapt7-10_files/libs/quarto-html/popper.min.js
assignments/assignment_chapt7-10_files/libs/quarto-html/anchor.min.js
assignments/assignment_chapt7-10_files/libs/clipboard/clipboard.min.js
assignments/assignment_chapt7-10_files/libs/bootstrap/bootstrap.min.js
assignments/assignment_chapt7-10_files/libs/bootstrap/bootstrap.min.css
assignments/assignment_chapt7-10_files/libs/bootstrap/bootstrap-icons.woff
assignments/assignment_chapt7-10_files/libs/bootstrap/bootstrap-icons.css
assignments/assignment_chapt7-10.qmd
assignments/assignment_chapt7-10.html
assignments/assignment_chapt17-20.qmd
assignments/assignment_chapt15-16.qmd
assignments/assignment_chapt11-14.qmd
data/GoogleNews-vectors-negative300.bin
data/CCR/CCR_clean_behavioral.csv
data/CCR/Questionnaires - Experiment - Questionnaire.csv
data/CCR/questionnaires_neg.csv
*.rds
data/glove/.DS_Store
data/glove/glove.twitter.27B.100d.txt
